  <!-- Footer -->
  <footer class="" id="footer">
    <div class="container-fluid">
      <i class="footer-icon fab fa-lg fa-twitter"></i>
      <i class="footer-icon fab fa-lg fa-facebook"></i>
      <i class="footer-icon fab fa-lg fa-instagram"></i>
      <i class="footer-icon fas fa-lg fa-envelope"></i>
      <p class="copyright"> © 2021 Begin With Us</p>
      <p class="team-name">By Team infinity_bugs</p>
    </div>
  </footer>

  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

</body>

</html>