<section class="middle">
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        ×
      </a>
      <a href="/intro">Introduction</a>
      <a href="/stocks_shares">Stock & Shares</a>
      <a href="/trading">Trading in Stocks</a>
      <a href="/fundamentals">Fundamental Ananlysis of a Stock</a>
      <a href="/market_exchange">Markets & Exchange</a>
      <a href="/doanddont">Do's & Dont's</a>
      <a href="/how_to_start">How to Start ?</a>
      <a href="/imp_concepts">Other Important Concepts</a>
    </div>