<%- include('partials/header') %>

    <section id="about">
        <h2 class="about-title"><strong><b>About Us</b></strong></h2>
        <p class="about-text">
            Begin With Us is a beginner friendly website for the people of age 15-25 years who have an interest in stock and markets. It includes some of the basic terms that a beginner should know to have a deep and better understanding of the stocks. Adding to this, it has some realtime graphs that can help the user to understand and implement the basics properly. It has a simple user interface  to help the user easily navigate through the different terms. This has been created by keeping in mind that the beginner should no longer need to surf through different sites to learn the basics about the market values.
        </p>
    </section>

    <section id="developers">
        <div>
            <h1 class="dev-heading"><b>Our Team</b></h1>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="name-card text-dark text-center team-card card-row1">
                            <img src="/images/photo3.jpej" class="my-img circular--square" alt="saloni-img">
                            <div class="middle">
                                <div class="card-body">
                                    <h5 class="card-title my-name">Saloni</h5>
                                </div>

                                <div class="text">
                                    <a href="https://github.com/saloni128" target="_blank"><i
                                            class="fab fa-github my-icon fa-lg"></i></a>
                                    <a href="https://www.linkedin.com/in/saloni-thakral-b140321a4/" target="_blank"> <i
                                            class="fab fa-linkedin my-icon fa-lg"></i></a>
                                    <a href="mailto:salonithakral8@gmail.com" target="_blank"> <i
                                            class="fas fa-envelope my-icon fa-lg"></i> </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="name-card text-dark text-center team-card card-row1">
                            <img src="/images/photo3.jpej" class="my-img circular--square" alt="nandini-img">
                            <div class="middle">
                                <div class="card-body">
                                    <h5 class="card-title my-name">Nandini</h5>
                                </div>
                                <div class="text">
                                    <a href="https://github.com/Nandini2901" target="_blank"><i
                                            class="fab  fa-github my-icon fa-lg"></i></a>
                                    <a href="https://www.linkedin.com/in/nandini-gupta-a807881a4/" target="_blank"> <i
                                            class="fab  fa-linkedin my-icon fa-lg"></i></a>
                                    <a href="mailto:iit2019149@iiita.ac.in" target="_blank"> <i
                                            class="fas fa-envelope my-icon fa-lg"></i> </a>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="name-card text-dark text-center team-card card-row1">
                            <img src="/images/phto3.jpej" class="my-img circular--square" alt="rasika-img">
                            <div class="middle">
                                <div class="card-body">
                                    <h5 class="card-title my-name">Rasika</h5>
                                </div>
                                <div class="text">
                                    <a href="https://github.com/rcp24" target="_blank"><i
                                            class="fab  fa-github my-icon fa-lg"></i></a>
                                    <a href="https://www.linkedin.com/in/rasika-phutke-b1a2a81a2/" target="_blank"> <i
                                            class="fab  fa-linkedin my-icon fa-lg"></i></a>
                                    <a href="mailto:iec2019015@iiita.ac.in" target="_blank"> <i
                                            class="fas fa-envelope my-icon fa-lg"></i> </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="name-card text-dark text-center team-card card-row1">
                            <img src="/images/photo3.jpej" class="my-img circular--square" alt="tanya-img">
                            <div class="middle">
                                <div class="card-body">
                                    <h5 class="card-title my-name">Tanya</h5>
                                </div>
                                <div class="text">
                                    <a href="https://github.com/t-gang" target="_blank"><i
                                            class="fab  fa-github my-icon fa-lg"></i></a>
                                    <a href="https://www.linkedin.com/in/tanya-gangwar-a0679a1a4/" target="_blank"> <i
                                            class="fab  fa-linkedin my-icon fa-lg"></i></a>
                                    <a href="mailto:tanyagangwar2001@gmail.com" target="_blank"> <i
                                            class="fas fa-envelope my-icon fa-lg"></i> </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>
<%- include('partials/footer') %>