<%- include('partials/header') %>

<div class="container">
    <h2 class="bear_header"><strong><u>Do Stock Market also get Crashed??</u></strong></h2> 
    <section>
      <h6 style="padding-top: 30px;">Since the founding of the Bombay stock exchange, stock markets in India, particularly in Mumbai (BSE and NSE) have seen a number of booms as well as crashes.</h6><p style="padding-bottom: 30px;">
 These crashes and sharp falls in the two primary Indian stock markets, namely the BSE and NSE.[2] Financial Times[3] terms a double-digit percentage fall in the stock markets over five minutes as a crash, while Jayadev et al. describe a stock market crash in India as a "fall in the NIFTY of more than 10% within a span of 20 days" or "difference of more than 10% between the high on a day and the low on the next trading day" or "decline in the NIFTY of more than 9% within a span of 5 days".As per the latter definition, the Nifty experienced 15 crashes during the period 2000 to 2008 with a number of them having occurred in the months of January, May and June 2008.  </p> </section>
 <div class="container crash_img"><img src="/images/crash.png"></div>
    <p>
      <h5>Crash of 1865</h5>
 
 As per the Business Standard, India experienced its first stock market crash in 1865. Although the Bombay stock exchange had not yet been formed, Gujarati and Parsi traders often traded shares mutually at the junction of Rampart row and Meadows street. In the preceding years, speculation about the results of the American civil war had led to irrational increases of stocks of new Indian companies. Shares of the Back bay reclamation (face value Rs. 5,000) touched Rs. 50,000 and those of Bank of Bombay (face value Rs.500) touched Rs. 2,850. Money made from cotton was pumped into the stock market driving prices of stocks higher. Banks loaned money to speculators further fuelling the bull run and wealthy merchants like Premchand Roychand dispensed advice that led to ordinary people placing their bets on shares.
 <p>
 On 16 November 1864, the governor warned civil servants not to participate in the current frenzy. New companies were floated with new share issues publicized in the newspapers. Forward contracts further promoted speculative purchases. However, the market crashed in May 1865 when the civil war ended, causing cotton prices to fall. Shares of the Backbay reclamation fell by 96% to under Rs. 2,000 and a number of merchants including Behramji Hormuzjee Cama went bankrupt.The crash not only led to a dwindling of the financial fortunes of many, it also led to a decrease of the city's population by 21% due to the closing down of many enterprises.On 1 July 1865, when hundreds of "time bargains" had matured (as the future contracts were then known), buyers and sellers alike defaulted leading to the burst of the bubble. A share of Bank of Bombay which had touched Rs 2,850 at the peak of the market slumped to just Rs 87 in the aftermath of the bust.</p>
 
    </p>
    <div><h5>Crash Of 1992</h5><p><a href="https://en.wikipedia.org/wiki/1992_Indian_stock_market_scam">Harshad Mehta Scam
 </a></p>
     On 28 April 1992, the BSE experienced a fall of 12.77% - due to the Harshad Mehta scam.The 1992 Indian stock market scam was a market manipulation carried out by Harshad Shantilal Mehta with other bankers and politicians on the Bombay Stock Exchange. The scam caused significant disruption to the stock market of India, with over one billion USD defrauded.
 <p>
 Techniques used by Mehta involved having corrupt officials signing fake cheques, misusing market loopholes, and telling lies to drive the prices of stocks up to 40 times their original price. Stock traders making good returns as a result of the scam were able to fraudulently obtain unsecured loans from banks. When the scam was discovered in April 1992, the Indian stock market collapsed, and the same banks suddenly found themselves holding millions of INR in now useless debt.</p>
 
 <div><h5>Crash Of 2020 (CoronaVirus Pandemic)</h5>
   <p>
     On 1 February 2020, as the FY 2020-21 Union budget was presented in the lower house of the Indian parliament, Nifty fell by over 3% (373.95 points) while Sensex fell by more than 2% (987.96 points). The fall was also weighed by the global breakdown amid coronavirus pandemic centered in China.</p>
 
 <P>On 28 February 2020, Sensex lost 1448 points and Nifty fell by 432 points due to growing global tension caused by coronavirus, [32] which W.H.O said has a pandemic potential. Both BSE and NSE fell for the entire five days of the week ending with the worst weekly fall since 2009</P>
 
 <p>On March 4 and 6, markets fell by around 1000 points and several crores of wealth was wiped out. On 6 March 2020, Yes Bank was taken over by RBI under its management for reconstruction and will be merged with SBI. This was done to ensure smooth functioning of the bank as it was struggling for couple of years to cope up with heavy pressure due to cleaning of bad loans.</p>
 
 <div class="container crash1" ><img src="/images/crash2.jpg"></div>
 
 <p>On 9 March 2020, the Sensex fell by 1,941.67 points, while Nifty-50 broke down by 538 points. The fear of COVID-19 outbreak has created havoc all over the globe and India is no exception. Further, the recent <strong>Yes Bank crisis </strong>also made the markets fell.The markets ended in red with Sensex closing on 35,634.95 and Nifty-50 on 10,451.45.</p>
 
 <p>On 12 March 2020, the Sensex fell by 2919.26 points (-8.18% ), the worst continuation of the week in the history while Nifty-50 broke down by 868.25 points (-8.30% ) amid World Health Organisation (WHO) declaring Coronavirus outbreak as "pandemic".Sensex ended to 33-month low of 32778.14.</p>
 
 <p>On 16 March 2020, Sensex plunged by 2,713.41 points (around 8%), the second worst fall in its history. On the other hand, Nifty ended below 9200–mark at 9,197.40 due to global economic recession.</p>
 
 <strong>However, the Sensex continued to fall straight for 4–continuous days till 19 March 2020, losing 5815 points during the period.</strong>
 
 <p>On 23 March 2020, Sensex lost 3,934.72 points (13.15%) and Nifty plunges 1,135 points (12.98%) at 7610.25[39] as coronavirus-led lockdowns across the world triggered fears of a recession. These are now the lowest levels since 2016. It's witnessing the biggest weekly loss since October 2008, as the increasing number of coronavirus cases in India as well as globally.</p>
   </p>
 </div>
 </div>
 
     
   <div class="container-md">
    
 
     <div class="card text-center" style="padding-bottom: 50px; box-shadow: inset 0 0 0 10px;">
   <div class="card-header">
     <h3><strong>Short Selling</strong></h3>
   </div>
   <div class="card-body">
     <h5 class="card-title">What should a beginner do when market falls/crashes ??</h5>
     <p class="card-text" >What if I say you can earn still when market is falling !!</p>
 <div>
     One way to make money on stocks for which the price is falling is called short selling (or going short). Short selling is a fairly simple concept—an investor borrows a stock, sells the stock, and then buys the stock back to return it to the lender.
 <p style="color: navy;">
 <strong>
 Short sellers are betting that the stock they sell will drop in price. If the stock does drop after selling, the short seller buys it back at a lower price and returns it to the lender. The difference between the sell price and the buy price is the profit.</strong></p></div>
   </div>
 </div>
 
 
   </div>
 


<%- include('partials/footer') %>