<%- include('partials/header') %>

 <section id="main-text">

    <h1 class="text"><b>Enter into the world of Stock Market !</b></h1>
  </section>

  <!-- questions -->
  <section id="questions">
    <section id="quote">
      <p>Some quote or line here</p>
    </section>

    <div class="align-carousel">
      <div class="my-carousel">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/photo1.jpeg" class="d-block w-100 question-image" alt="question1">
            </div>
            <div class="carousel-item">
              <img src="/images/photo2.jpeg" class="d-block w-100 question-image" alt="question2">
            </div>
            <div class="carousel-item">
              <img src="/images/photo3.jpeg" class="d-block w-100 question-image" alt="question3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>

  </section>


  <!-- features -->
  <section id="features">
    <div class="align-features">
        <div class="row">
            <div class="col-sm-6">
                <div class="features-card">
                    <div class="card-body">
                        <h3 class="basic-terms"><strong>Getting Started</strong></h3>
                        <p class="card-text">As a Begineer,Don't Rush !! <p>Learn Before You Enter !!</p>
                        </p>
                        <a href="/intro" class="btn btn-primary">Know more </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="features-card">
                    <div class="card-body">
                        <h3 class="market"><strong>Market</strong></h3>
                        <p class="card-text">Know more about the market <p>which is related to the economy of our country directly !!</p>
                        </p>
                        <a href="/market" class="btn btn-primary">See stock values</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <div class="align-features">
      <div class="row">
          <div class="col-sm-6">
              <div class="features-card">
                  <div class="card-body">
                      <h5 class="basic-terms"><strong>Cryptocurrency</strong></h5>
                      <p class="card-text">To check exchange rate between two currencies.
                      </p>
                      <a href="/cryptocurrency" class="btn btn-primary">Click here</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="features-card">
                  <div class="card-body">
                      <h5 class="market">graphs</h5>
                       <p class="card-text">historical Graphs of Stocks <!-- <p>which is related to the economy of our country directly !!</p> -->
                      </p>
                      <a href="/graphs" class="btn btn-primary">view Them</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  </section>

  <section id="news">

    <div class="align-news">
      <H2 style="text-align: center; padding-bottom: 30px; padding-top: 20px;" id="card-header"><u>Interesting facts about the market</u></H2>
        <div class="card-group" style="padding-bottom: 50px;">
            <div class="card">
                <div class="card-value">
                    <img src="https://cdn.corporatefinanceinstitute.com/assets/stock-market-crash.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bears And Bulls</h5>
                        <p class="card-text">Can market be manipulated ?? Let's get to know stories about market players!!</p>
                        <p class="card-text"><small class="text-muted">From Wikipedia</small></p>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-value">
                    <img src="https://wallpapercave.com/wp/wp2128270.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Stock Market Crashes</h5>
                        <p class="card-text">Risk Hai Th Ishq Hai !! Why Market gets crash ??</p>
                        <p class="card-text"><small class="text-muted"> <a href="/marketcrashes">Research</a></small></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-value">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6hEcXB4RmiMux4X37YiSX0T3G6huZ4k7jJw&usqp=CAU"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Today's Market Leaders </h5>
                        <p class="card-text">Which top 5 companies are people interested in today??</p>
                        <p class="card-text"><small class="text-muted">News and Bulletin</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>