<%- include('partials/header') %>
<%- include('partials/sidebar') %>

    <!-- The main division contains the actual 
        content of the webpage -->


    <div class="container" id="main">
      <div class="row">
        <div class="col-1">
          <button class="openbtn" onclick="openNav()">Menu
          </button>
        </div>
        <div class="col-11 intro">
          <h2>
            <strong>MARKETS and EXCHANGES</strong>
          </h2>
          <p>
            <h3>Primary Market and Secondary Market</h3>
Companies raise short term funds through the money market. But when the requirements are for long term, this is where the capital market comes in picture. The capital market comprises of primary and secondary market.
<p>Now let’s understand in depth about the primary and secondary market and what the difference between primary and secondary market is.
<h4>Primary Market and Secondary Market</h4>
<p>Primary market is a place where securities are issued by the company for the first time to general public for raising funds in order to fulfill the long term capital requirement. Issues are made in various forms like public issues, offer for sale, rights issue, bonus issue, issue of IDR, etc.</p>
<p>While secondary market is a place where existing securities like shares, debentures, bonds, options, commercial papers, treasury bills, etc. are traded amongst investors. It is like an auction market where the trading of securities is done through exchange or a dealer (OTC).</p>
<h4>Features of Primary market</h4>
<p>Primary market is a market for creation of long term capital.
Fresh issue of securities takes place in primary market.</p>
<h4>Features of secondary market</h4>
<p>Secondary market facilitates the liquidity and marketability of existing securities.
Secondary market ensures a true and fair dealing for protection of the investor’s interest.</p>
<h4>Difference between primary market and secondary market</h4>
The difference between the primary and secondary market mainly relates to the nature of financing and the organizations involved. <strong>The basic differences between the two types of market are as follows:</strong>
<p>The securities that are formerly issued in a market are referred to as primary market, whereas, when the company gets listed on a recognized stock exchange for trading, then the stocks are traded in secondary market.</p>
<p>1) Primary market is also known as a new issue market and the secondary market is known as after issue market. Depending upon the demand and supply of the securities traded the prices in the secondary market vary. While in primary market the prices are fixed.</p>
<p>2) The primary market provides financing to the new and the old companies for their expansion and diversification while the secondary market does not provide financing to companies as they are not involved in any transactions.</p>

<p>3) In primary market the investors can purchase the shares directly from the company, whereas in secondary market, the investors buy and sell the securities (shares and bonds) among themselves.</p>

<p>4)In case of primary market, investment bankers do the selling. Conversely in secondary market, the broker acts as an intermediary while the trading is done.</p>
<p>5) In primary market, the company will gain from the sale of security. While in secondary market, investor will gain from the securities.</p>
<p>6) The securities in the primary market can only be sold once, while in secondary market it can be done an infinite number of times.</p>
<p>7) The amount that is received from the securities becomes the capital for company whereas; in case of secondary market same is the income of investors.</p>

<p>Hence, from the above pointers we conclude that the two financial markets (primary market and secondary market) play a major role in the mobilization of money in the country’s economy. The primary market encourages a direct interaction with the company and the investor. While, secondary market is where brokers help out the investors to buy and sell the stocks among other investors.</p>

<p><strong> In the third and the fourth market transactions happen between the dealers and the brokers and the large institution of high volume using Over the Counter (OTC) network.
The third party caters the transactions between dealer or broker and the large institution, but the fourth market caters only the transactions between large institutions. The transactions happening in these markets are always of high volume
</strong></p>


</p>
          </p>
          <p>
            
            <strong>A stock exchange is a place or platform which hosts a market where buyers and sellers come together to trade stocks during specific hours of business days.</strong> </p>

<p>Here is the list of major stock exchanges in India:</p>
<p><strong>Bombay Stock Exchange (BSE)</strong>
BSE is an Indian stock exchange located at Dalal Street, Mumbai and operates with a vision of to “Emerge as the premier Indian stock exchange with best-in-class global practice in technology, products innovation, and customer service.”
It is one of the two principal large stock exchanges of India and was founded by Mr. Premchand Roychand, famously known as the Cotton King, the Bullion King or the Big Bull.
He was one of the most influential Indian businessmen of the 19th century and made a fortune in the stock-broking business.
Established in 1875, BSE is the oldest and first stock exchange of Asia and was formerly known by the name of –The Native Share & Stock Brokers Association.
But the story of BSE starts back in the 1850s when 22 stockbrokers would gather under banyan trees in front of Mumbai’s Town Hall. Location of these meetings changed multiple times to accommodate an increasing number of brokers.
The group eventually moved to Dalal Street in the year 1874.
In the year 1986, Sensex was introduced, as the first equity index to provide a base for identifying the top 30 trading companies of the exchange, in more than 10 sectors.
Apart from Sensex, other important indices of BSE are BSE 100, BSE 200, BSE 500, BSE MIDCAP, BSE SMLCAP, BSE PSU, BSE Auto, BSE Pharma, BSE FMCG, BSE Metal, etc.
As of April 2018, BSE has an overall market capitalization of over $4.9 trillion, which makes it the 10th largest stock exchange marketplace in the world.
It also offers varied services such as market data services, risk management, CDSL (Central Depository Services Limited) depository services, etc. </p>
<p><strong>National Stock Exchange (NSE)</strong>
NSE is one of the youngest stock exchanges of India which came into the picture in the year 1992 and operates with a vision, “To continue to be a leader, establish a global presence, and facilitate the financial well-being of people.”
Mr. Vikram Limaye is MD & CEO of NSE.
In 1992, for the very first time in India, NSE introduced the advanced electronic trading system which removed the paper-based settlement system from trading and offered an easy trading facility.
One year later, in the year 1993, NSE was set up as a tax-paying company, which later on registered itself as a Stock Exchange under the Securities Contract Regulation Act.
In the year 1995, National Securities Depository Limited (NSDL) was formed to provide depository services to the investors.
NSDL allows investors and traders to securely hold and transfer their stocks electronically along with this, it also allows investors to hold and trade in as few as one share or one bond.
Nifty 50 the popular benchmark index in the Indian stock market, was introduced by NSE in the same year. Nifty lists out top 50 companies which traded on the NSE stock exchange market.</p>

<p><strong>Calcutta Stock Exchange (CSE)</strong>

CSE is a regional stock exchange (RSE) located at the Lyons Range, Kolkata and is the second oldest stock exchange in South East Asia.
Incorporated in 1908, CSE is the second-largest Stock Exchange in India.
In the year 1980, it was granted permanent recognition by the Government of India under the relevant provisions of the Securities Contracts (Regulation) Act, 1956.
While nearly 20 regional stock exchanges have voluntarily exited in the face of SEBI’s stringent regulations against RSEs, CSE continues to fight a lone battle.
</p>

<p><strong>Metropolitan Stock Exchange (MSE)</strong>
The Exchange was notified as a “Recognized Stock Exchange” under the Companies Ac by the Ministry of Corporate Affairs on December 21, 2012.
MSE offers a hi-tech platform to trade in the capital market, futures & options, currency derivatives, and debt market segments of the Indian market.
It was recognized by SEBI on 16th September 2008 and is valid till 15th September 2020, as last checked on October 6.
Shareholders of MSE include Indian public sector banks, private sector banks, investors and domestic financial institutions which are subjected to CAG Audit.
It has come out with a “Manifesto of Change”, which is a roadmap of what the stock exchange intends to achieve in terms of driving market development and inclusive growth over the next 10 years.
</p>
<p><strong>India International Exchange (India INX)</strong>
Opened in January 2017, India INX is India’s first international stock exchange.
It is a wholly-owned subsidiary of the Bombay Stock Exchange (BSE) and is located at the International Financial Services Centre (IFSC), GIFT City in Gujarat.
It is claimed to be the world’s most advanced technology platform with a turn-around time of 4 microseconds which operates 22 hours a day and six days a week.
There are two sessions: 4.30 a.m. to 5.00 p.m. and 5.01 p.n. to 2.30 a.m.
India INX also launched the Global Securities Market, an international primary market platform in India that connects global investors with Indian and foreign issuers.</p>
<p><strong>NSE IFSC Ltd.</strong>
NSE IFSC Limited (NSE International Exchange) incorporated on 29th November 2016, is a wholly owned subsidiary of the National Stock Exchange (NSE) and is located at the International Financial Services Centre (IFSC), GIFT City in Gujarat.
The exchange is permitted to offer securities trading in any currency other than the Indian rupee.
NSE IFSC Limited usually conducts 16 hours of daily trading over two trading sessions. Currently, there are two trading sessions, the first between 8 am and 5 pm and the second between 5.30 pm and 11.30 pm.


          </p>
        </div>

      </div>
    </div>


    <!-- <div id="main">
      <h1 style="color: green;">
        Welcome to GeeksForGeeks
      </h1>
      <button class="openbtn" onclick="openNav()">Menu
      </button>

      <h2>
        This is a demonstration of collapsed
        sidebar by default. The sidebar opens
        on clicking the Menu button.
      </h2>
    </div> -->
  </section>

  <script>
    function openNav() {
      document.getElementById(
        "mySidebar").style.width = "200px";
      document.getElementById(
        "main").style.marginLeft = "200px";
    }

    /* Set the width of the sidebar to 0 
    and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById(
        "mySidebar").style.width = "0";
      document.getElementById(
        "main").style.marginLeft = "0";
    }
  </script>

<%- include('partials/footer') %>