/* The sidebar menu */ 

.sidebar { 
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color:  rgb(0, 0, 0);  
    overflow-x: hidden; 
    padding-top: 130px; 
    transition: 0.5s; 
} 

/* The sidebar links */ 
.sidebar a { 
    padding: 8px 8px 8px 32px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    display: block; 
    transition: 0.3s; 
} 

/* Mouse over the navigation 
links, to change their color */ 
.sidebar a:hover { 
    color: green; 
} 

/* Position and style the close 
button at top right corner */ 
.sidebar .closebtn { 
    position: absolute; 
    top: 0; 
    right: 25px; 
    font-size: 36px; 
    margin-left: 50px; 
} 

/* The button used to open the sidebar */ 
.openbtn { 
    font-size: 20px; 
    cursor: pointer; 
    background-color:  rgb(22, 33, 68);  
    color: white; 
    padding: 10px 15px; 
    border: none; 
    position: fixed;
    left: 0px;

} 

.openbtn:hover { 
    background-color: #444; 
} 

/* Style page content - pushes the 
page content to the right when the 
sidebar is opened */ 
#main { 

    /* If you want a transition effect */ 
    transition: margin-left 0.5s; 
    padding: 20px; 
} 


/* On smaller screens, where height is 
less than 450px, change the style of 
the side-nav (less padding and a 
smaller font size) */ 
@media screen and (max-height: 450px) { 
    .sidebar { 
        padding-top: 15px; 
    } 

    .sidebar a { 
        font-size: 18px; 
    } 

    
} 

@media screen and (max-width: 700px)
{
    .intro
    {
        padding-top:100px ;
    }
}


.intro{
    padding-left: 0px;
    padding-right: 10px;
    
    font-size: 20px;
}
